@use './partials/variables' as *;
@use 'node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {


    a {
        &:hover {
            color: $text-header;
            border-bottom: 2px solid $text-header;
        }
    }
}

main {
    background-color: $bg-contnent;

    section {
        height: 132px;
        color: white;
    }

}

footer {
    .top {
        background-color: $bg-bottomNav;

        .shop {
          img{
                width: 55px;
            }
        }

        

    }
    .center{
        background-image: url(../img/footer-bg.jpg);
        background-position: center;
        background-size: cover;
        
    }
    .bottom {
        background-color: $bg-footer;
    }
}