@use './partials/variables' as *;
@use 'node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 118px;
}

main {
    section {
        height: 132px;
    }

    nav {
        height: 155px;
    }
}

footer {
    nav {
        height: 370px;
    }

    section {
        height: 110px;
    }
}