$bg-footer : #ffffff;
$bg-contnent: #1c1c1c;
$bg-bottomNav: #0282f9;
$bg-footer: #303030;
$text-header: #057dec;
$color-logo: #1d85ed;
$text-footer: #1961b3;
$border-botton-footer: #1d5283;
$bgIcon-footer: #797979;
